# Python
*.pyc
__pycache__/
venv/
*.pyo
*.pyd

# virtualenv
.venv/

# Flask
instance/
.webassets-cache

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Miscellaneous
.DS_Store
Thumbs.db